body{
    background-image: url(/img/background-market.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#showcase{
     height: 750px;
    display: block;
    position: absolute;
    top: 290px;
    left: 400px;
    z-index: 1;
}
#carrito{
    position: absolute;
    height: 480px;
    display: block;
    top: 625px;
    left: 1150px;
    z-index: 2;
    }

.milk{
    position: absolute;
    width: 150px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 435px;
     left: 430px;
}
#MILK1{
  position:absolute;
  left: -10px;
  z-index: 3;
  content: icon;
}
#MILK2{
    position:absolute;
    left: 30px;
    z-index: 3;
    content: icon;
  }
#MILK3{
    position:absolute;
    left: 60px;
    z-index: 3;
    content: icon;
  }
#MILK4{
    position:absolute;
    left: 90px;
    z-index: 3;
    content: icon;
  }
  #MILK5{
    position:absolute;
    left: 120px;
    z-index: 3;
    content: icon;
  }

.Pasta{
    position: absolute;
    width: 160px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 435px;
     left: 610px;
}
#pasta1{
    position:absolute;
    left: -20px;
    z-index: 3;
    content: icon;
}
#pasta2{
    position:absolute;
    left: 8px;
    z-index: 3;
    content: icon;
}
#pasta3{  
    position:absolute;
    left: 34px;
    z-index: 3;
    content: icon;
}
#pasta4{
    position:absolute;
    left: 60px;
    z-index: 3;
    content: icon;
}
#pasta5{
    position:absolute;
    left: 86px;
    z-index: 3;
    content: icon;
}

#pasta6{
    position :absolute;
    left: 112px;
    z-index: 3;
    content: icon;
}

.Queso{
    position: absolute;
    width: 160px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 435px;
     left: 770px ;
}
#queso1{
    position:absolute;
    left: -1px;
    z-index: 3;
    content: icon;
}
#queso2{
    position:absolute;
    left: 8px;
    z-index: 3;
    content: icon;
}
#queso3{  
    position:absolute;
    left: 34px;
    z-index: 3;
    content: icon;
}
#queso4{
    position:absolute;
    left: 60px;
    z-index: 3;
    content: icon;
}
#queso5{
    position:absolute;
    left: 96px;
    z-index: 3;
    content: icon;
}
.Soda{
    position: absolute;
    width: 220px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 435px;
     left: 930px ;
}
#soda1{
    position:absolute;
    left: -10px;
    z-index: 3;
    content: icon;
}
#soda2{
    position:absolute;
    left: 20px;
    z-index: 3;
    content: icon;
}
#soda3{  
    position:absolute;
    left: 55px;
    z-index: 3;
    content: icon;
}
#soda4{
    position:absolute;
    left: 90px;
    z-index: 3;
    content: icon;
}
#soda5{
    position:absolute;
    left: 122px;
    z-index: 3;
    content: icon;
}
#soda6{
    position:absolute;
    left: 156px;
    z-index: 3;
    content: icon;
}

.SodaLima{
    position: absolute;
    width: 220px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 569px;
     left: 420px ;
}
#sodaLima1{
    position:absolute;
    left: -10px;
    z-index: 3;
    content: icon;
}
#sodaLima2{
    position:absolute;
    left: 20px;
    z-index: 3;
    content: icon;
}
#sodaLima3{  
    position:absolute;
    left: 55px;
    z-index: 3;
    content: icon;
}
#sodaLima4{
    position:absolute;
    left: 90px;
    z-index: 3;
    content: icon;
}
#sodaLima5{
    position:absolute;
    left: 122px;
    z-index: 3;
    content: icon;
}
#sodaLima6{
    position:absolute;
    left: 156px;
    z-index: 3;
    content: icon;
}

.Mermelada{
    position: absolute;
    width: 220px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 569px;
     left: 610px ;
}
#mermelada1{
    position:absolute;
    left: 9px;
    z-index: 3;
    content: icon;
}
#mermelada2{
    position:absolute;
    left: 40px;
    z-index: 3;
    content: icon;
}
#mermelada3{  
    position:absolute;
    left: 75px;
    z-index: 3;
    content: icon;
}
#mermelada4{
    position:absolute;
    left: 120px;
    z-index: 3;
    content: icon;
}
#mermelada5{
    position:absolute;
    left: 162px;
    z-index: 3;
    content: icon;
}

.Agua{
    position: absolute;
    width: 170px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 569px;
     left: 820px ;
}
#agua1{
    position:absolute;
    left: -10px;
    z-index: 3;
    content: icon;
}
#agua2{
    position:absolute;
    left: 20px;
    z-index: 3;
    content: icon;
}
#agua3{  
    position:absolute;
    left: 45px;
    z-index: 3;
    content: icon;
}
#agua4{
    position:absolute;
    left: 70px;
    z-index: 3;
    content: icon;
}
#agua5{
    position:absolute;
    left: 100px;
    z-index: 3;
    content: icon;
}
#agua6{
    position:absolute;
    left: 126px;
    z-index: 3;
    content: icon;
}

.Chips{
    position: absolute;
    width: 170px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 569px;
     left: 992px ;
}
#chips1{
    position:absolute;
    left: 0px;
    z-index: 3;
    content: icon;
}
#chips2{
    position:absolute;
    left: 20px;
    z-index: 3;
    content: icon;
}
#chips3{  
    position:absolute;
    left: 60px;
    z-index: 3;
    content: icon;
}
#chips4{
    position:absolute;
    left: 105px;
    z-index: 3;
    content: icon;
}

.Chocolate{
    position: absolute;
    width: 170px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 695px;
     left: 420px ;
}
#chocolate1{
    position:absolute;
    left: -9px;
    z-index: 3;
    content: icon;
}
#chocolate2{
    position:absolute;
    left: 40px;
    z-index: 3;
    content: icon;
}
#chocolate3{  
    position:absolute;
    left: 75px;
    z-index: 3;
    content: icon;
}
#chocolate4{
    position:absolute;
    left: 115px;
    z-index: 3;
    content: icon;
}

.Pan{
    position: absolute;
    width: 230px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 695px;
     left: 590px ;
}
#pan1{
    position:absolute;
    left: -9px;
    height: 80px;
    z-index: 3;
    content: icon;
}
#pan2{
    position:absolute;
    left: 40px;
    height: 80px;
    z-index: 3;
    content: icon;
}
#pan3{  
    position:absolute;
    left: 100px;
    height: 80px;
    z-index: 3;
    content: icon;
}
#pan4{
    position:absolute;
    left: 165px;
    height: 80px;
    z-index: 3;
    content: icon;
}

.ZumoNaranja{
    position: absolute;
    width: 170px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 695px;
     left: 836px ;
}
#zumoNaranja1{
    position:absolute;
    left: -6px;
    z-index: 3;
    content: icon;
}
#zumoNaranja2{
    position:absolute;
    left: 37px;
    z-index: 3;
    content: icon;
}
#zumoNaranja3{  
    position:absolute;
    left: 74px;
    z-index: 3;
    content: icon;
}
#zumoNaranja4{
    position:absolute;
    left: 115px;
    z-index: 3;
    content: icon;
}


.Snack{
    position: absolute;
    width: 170px; 
     height: 100px;
     background-color: transparent;
     z-index: 2;
     top: 695px;
     left: 1006px ;
}
#snack1{
    position:absolute;
    left: -6px;
    z-index: 3;
    content: icon;
}
#snack2{
    position:absolute;
    left: 34px;
    z-index: 3;
    content: icon;
}
#snack3{  
    position:absolute;
    left: 74px;
    z-index: 3;
    content: icon;
}
#snack4{
    position:absolute;
    left: 115px;
    z-index: 3;
    content: icon;
}

#cajaM1{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 1;
    top: 830px;
    left: 406px ;
}
#cajaM2{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 1;
    top: 830px;
    left: 606px ;
}
#cajaM3{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 1;
    top: 830px;
    left: 809px ;
}
#cajaM4{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 1;
    top: 830px;
    left: 1006px ;
}

.Tomato{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 800px;
    left: 406px ;
}
#tomato1{
    position:absolute;
    top: 40px;
    width: 40px;
    left: 12px;
    z-index: 2;
    content: icon;
}
#tomato2{
    position:absolute;
    top: 40px;
    width: 40px;
    left: 54px;
    z-index: 2;
    content: icon;
}

#tomato3{
    position:absolute;
    top: 40px;
    width: 40px;
    left: 90px;
    z-index: 2;
    content: icon;
}

#tomato4{
    position:absolute;
    top: 40px;
    width: 40px;
    left: 120px;
    z-index: 2;
    content: icon;
}

#tomato5{
    position:absolute;
    top: 40px;
    width: 40px;
    left: 150px;
    z-index: 3;
    content: icon;
}


.Lechuga{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 800px;
    left: 606px;
}
#lechuga1{
    position:absolute;
    top: 40px;
    width: 60px;
    left: 12px;
    z-index: 1;
    content: icon;
}

#lechuga2{
    position:absolute;
    top: 40px;
    width: 60px;
    left: 60px;
    z-index: 1;
    content: icon;
}

#lechuga3{
    position:absolute;
    top: 40px;
    width: 60px;
    left: 110px;
    z-index: 1;
    content: icon;
}
/* solo NUmero 4 y 5 pueden se utilizados  */
#lechuga4{
    position:absolute;
    top: 10px;
    width: 60px;
    left: 90px;
    z-index: 2;
    content: icon;
}


#lechuga5{
    position:absolute;
    top: 10px;
    width: 60px;
    left: 40px;
    z-index: 2;
    content: icon;
}
