body{
    background-image: url(/img/background-market.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#showcase{
     height: 750px;
    display: block;
    position: absolute;
    margin: auto;
    top: 10%;
    left: 11%;
    z-index: 1;
}
#carrito{
    position: absolute;
    height: 480px;
    display: block;
    margin: auto;
    top: 45%;
    left: 50%;
    z-index: 3;
    }
