body{
    background-image: url(/img/background-market.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#showcase{
     height: 750px;
    display: block;
    margin: auto;
    padding-top: 6%;
}